
@font-face {
  font-family: PTSans;
  src: url(../fonts/PTSansCaption-Regular.ttf);
}

@font-face {
  font-family: Parangon_530C;
  src: url(../fonts/Parangon_530C.otf)
}

@mixin section1__text {
  color: #fff;
  text-align: center;
  z-index: 3;
}

html, body{
  @media screen and(max-width: 400px){
    width: 100%;
    overflow-x: hidden;
  }

  
}
.main-wrapper{
  overflow: hidden;
}

.section1__frame {
  @media screen and(max-width: 991px){
    background-size: 70px 1px, 70px 1px;
  }
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: linear-gradient(#fff, #fff),
  linear-gradient(#fff, #fff);
  background-size: 80px 1px, 80px 1px;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
  z-index: 3;
}


.section1 {
  width: 100%;
  height: 100vh;
  background-color: #706e55;
  background-image: url(../img/top-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;


  .section1__text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    .section1__heading {
      @media screen and(max-width: 440px){
        justify-content: center;
        font-size: 16px;
        margin-bottom: 5px;
      }
      @include section1__text;
      max-width: 75%;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-family: Parangon_530C;
      font-weight: bold;
      font-stretch: extra-expanded;
      letter-spacing: 4px;
    }

    .section1__text {
      @media screen and(max-width: 991px){
      max-width: 90%;
      font-size: 14px;

      }
      @include section1__text;
      max-width: 50%;
      font-family: PTSans;
      font-size: 18px;
      font-stretch: extra-expanded;
      letter-spacing: 1px;
    }
  }

  .section1__frames {
    @media screen and(max-width: 991px){
      flex-direction: row;
      justify-content: space-around;
      margin-right: 0;
      margin-left: 0;
      margin-top: 10px;
      }
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    justify-content: space-around;

    .section1__frame {
      @media screen and(max-width: 1000px){
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
        
      }
      @media screen and(max-width: 991px){
        margin-bottom: 20px;
        // width: 200px;
      }
      position: relative;
      width: 280px;
      height: 130px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .section1__symbol {
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 80%;
        left: 41%;
      }

      .section1__number {
        color: #fff;
        font-size: 37px;
        font-weight: bold;
        font-family: sans-serif;
        font-stretch: ultra-expanded;
        ;
        letter-spacing: 3px;
      }

      .section1__caption {
        color: #fff;
        font-family: PTSans;
        font-stretch: extra-expanded;
        text-align: center;
      }
    }
  }

}

.section1__overlay{
   display: flex;
   position: absolute;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba($color: #473d55, $alpha: .7);
   z-index: 2;
   margin-right: 0;
   margin-left: 0;
   overflow: auto;
 }


.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;

}

.section2__text {
  font-family: PTSans;
  font-size: 16px;
}

.section2 {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  .section2__nav-container{
    width: 100%;
    padding-top: 50px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
      margin: 0;
      .section2__nav{
        display: flex;
        padding-right: 30px;
        z-index: 1;

        .nav__item{
          list-style-type: none;
          margin: 0;
          padding: 0;
          margin-right: 50px;
          .nav__link{
            color: #000;
            font-family: PTSans;
            font-size: 20px;
            font-weight: 400;
          }
          .nav__link:hover{
            text-decoration: none;
            color: #f6ae48;
          }

        }
        .nav__item:last-child{
          margin-right: 0;
        }
      }
      @media screen and(max-width: 1024px){
        .section2__nav{
          display: none;
        }
      }
      // Mobile navigation button 
      .menu-icon {
        margin-right: 15px;
        height: 30px;
        width: 30px;
        margin-top: 22px;
        display: flex;
        justify-content: center;
        z-index: 2;
        @media screen and(min-width: 1024px){
          display: none;
        }
    }
    .menu-icon-line {
      position: relative;
      width: 30px;
      height: 5px;
      border-radius: 3px;
      background-color: #f6ae48;
    }
    
    .menu-icon-line::before {
      content: '';
      display: block;
      width: 30px;
      height: 5px;
      position: absolute;
      top: -10px;
      border-radius: 3px;
      background-color: #f6ae48;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    
    .menu-icon-line::after {
      content: '';
      display: block;
      width: 30px;
      height: 5px;
      position: absolute;
      top: 10px;
      border-radius: 3px;
      background-color: #f6ae48;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    .menu-icon.menu-icon-active .menu-icon-line{
      background-color: transparent;
    }
    
    .menu-icon.menu-icon-active .menu-icon-line::before{
      top: 0;
      transform: rotate(45deg);
      transition: all 0.2s ease-in;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    .menu-icon.menu-icon-active .menu-icon-line::after{
      top: 0;
      transform: rotate(-45deg);
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  
    }
  }

  .section2__mobile-nav{
    display: block;
    position: absolute;
    z-index: 1;
    right: -350px;
    top: 0;
    height: 100vh;
    width: 350px;
    padding: 50px;
    transition: transform 0.2s ease-in;
    background-color: rgba(82, 79, 79, 0.850);
    
    .section2__mobileNav-title{
      font-size: 28px;
      font-weight: 800;
      margin-bottom: 20px;
      color: rgb(231, 231, 231);
    }
    .mobile-nav__list{
      position: absolute;
      z-index: 2;
      list-style-type: none;
      padding: 0;
      margin: 0;
            
    }
    .mobile-nav__item{
      margin-bottom: 20px;
    }
    .mobile-nav__link{
      color: rgb(231, 231, 231);
      text-decoration: none;
      font-weight: 600;
      font-size: 22px;
    }
    .mobile-nav__link:hover{
      color: #f6ae48;
    }
  }
  .section2__mobile-nav-active{
    transform: translateX(-100%);
    
  }

  .section2__hr {
    position: relative;
    top: 100px;
    height: 1px;
    width: 100%;
    background-color: #000;
  }
  @media screen and(max-width: 1024px){
    .container-fluid.section2__hr{
      display: none;
    }
  }

}

.section3 {
  .section3__we {
    height: 600px;
    background-image: url(../img/we.png);
    background-position: 50% 60%;
    background-size: 580px auto;
    background-repeat: no-repeat;

    .section3__studioWrapper {
      display: flex;
      align-items: center;

      .section3__studio {
        font-weight: bold;
        font-size: 40px;
      }
    }

    .section3__textWrapper {
      display: flex;
      align-items: center;

      .section3__text {
        max-width: 710px;
        width: 100%;
        font-family: PtSans;
        font-stretch: ultra-expanded;
      }
    }
  }
}

.section4 {
  font-family: PTSans;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;

  .section4__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;

    .section4__item {
      max-width: 400px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-left: 10px 10px;

      .section4__icon {
        width: 30px;
        height: auto;
      }

      .section4__heading {
        margin-top: 10px;
        font-weight: bold;
      }

      .section4__text {
        font-size: 14px;
        margin-top: 20px;
      }
      *, ::after, ::before {
        box-sizing: content-box;
      }
    }

    #support {
      background-color: #f6ae48;
      color: #fff;
      font-size: 14px;

      .section4__icon {
        width: 50px;
        height: auto;
      }
    }

    .section4__links {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;

      .section4__btn {
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff;
        padding: 10px 20px;
      }

      .section4__btn:hover {
        text-decoration: none;
        background-color: white;
        color: #f6ae48;
      }

      .section4__arrowLink {
        // position: relative;
        // left: 130px;

        .section4__arrow {
          width: 20px;
          height: auto;
        }
      }
    }
  }
}


.section5{
  position: relative;
  top: 255px;
  width: 100%;
  background-image: url(../img/secondBg.png);
  background-position: top;
  background-repeat: no-repeat;
  // background-size: cover 430px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;


  .section5__heading{
    @include section1__text;
    position: relative;
    top: 120px;
    max-width: 75%;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Parangon_530C;
    font-weight: bold;
    font-stretch: extra-expanded;
    letter-spacing: 4px;
}

.section5__text {
  @include section1__text;
  position: relative;
  top: 130px;
  max-width: 65%;
  font-family: PTSans;
  font-size: 18px;
  font-stretch: extra-expanded;
  letter-spacing: 1px;
}
  .section5__development{
    position: relative;
    top: 300px;
    max-width: 600px;
    width: 100%;
    height: 450px;
    background-image: url(../img/development.png);
    align-self: flex-start;
    z-index: 3;
    .section5__gears{
      width: 160px;
      height: auto;
    }
    .section5__gear{
      width: 435px;
      height: auto;
      position: relative;
    }
   

      .section5__developmentHeading{
        @include section1__text;
        z-index: 4;
        position: relative;
        bottom: 205px;
        right: 70px;
        font-family: Parangon_530C;
        font-size: 40px;
        font-stretch: ultra-expanded;
        font-weight: bold;
        letter-spacing: 2px;
      }
         
    }
  .section5__servicesWrapper{
    @media screen and(max-width: 1224px) {
      // flex-direction: column;
      // align-items: center;
      // top: 200px;
    }
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 100px;
    color: #fff;
    z-index: 4;
    .section5__item{
      @media screen and(max-width: 1224px) {
      width: 300px;
      height: 230px;
      margin: 10px;
      }
      width: 250px;
      height: 250px;
      padding: 80px 45px 30px 25px;
      background-size: cover;
      background-position: center, center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      .section5__itemHeading{
        text-transform: uppercase;
        z-index: 3;
        font-stretch: extra-expanded;
        font-weight: bold;
      }
      #section5__item3Heading{
        margin-bottom: 20px;
      }
      .section5__hr {
        @media screen and (max-width: 1224px){
          max-width: 200px;
          width: 100%;
        }
        @media screen and(min-width: 1350px) {
          min-width: 250px;
          width: 100%;
        }
        position: relative;
        height: 2px;
        border: 1px solid #fff;
        color: #fff;
        width: 250px;
        z-index: 3;
      }
      #section5__item3Hr{
        margin-bottom: 20px;
      }
      .section5__links{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 3;
        margin-top: 50px;
        .section5__btnLink{          
          .section5__linkText{
            border: 2px solid #00b9e7;
            padding: 10px 20px;
          }
        }
        .section5__btnLink:hover{
          text-decoration: none;
        }
        .section5__arrow{
          width: 25px;
        }
      }

    }
  }
  #item1{
    @media screen and (max-width: 1224px){
      width: 300;
      height: 230px;
    }
    background-image: url(../img/landing_page.png);
    }
   
    #item2{
      @media screen and (max-width: 1224px){
        width: 300;
        height: 230px;
      }
      background-image: url(../img/web__site.png);
      }
  
    #item3{
      @media screen and (max-width: 1224px){
        width: 300;
        height: 230px;
      }
    background-image: url(../img/e-shop.png);
    } 
}

.section5:after {

  content: '';
  position: absolute;
  width: 100%;
  height:566px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #473d55, $alpha: .8);
  z-index: 2;
}
.section5__item:after {
  @media screen and (max-width: 1224px){
    max-width: 300px;
    width: 100%;
    height: 230px;
  }
  @media screen and(min-width: 1350px) {
    min-width: 300px;
    width: 100%;
  }
  content: '';
  position: absolute;
  width: 337px;
  height: 250px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #473d55, $alpha: .7);
  z-index: 2;
}
.section6{
  position: relative;
  top: 550px;
  background-image: url(../img/beTheFirst.png);
  background-position-y: 30px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .section6__textSection{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 40px;
    .section6__heading{
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .section6__text{
      margin-top: 25px;
    }
  }
  .section6__partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    .section6__partner{
      margin-bottom: 20px;
    }
  }
}

.section7{
  position: relative;
  top: 600px;
  .section7__top{
    width: 100%;
    height: 120px;
    background-color: #303263;
    background-image: url(../img/ourProjects.png);
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    .section7__heading   {
      color: #fff;
      font-stretch: extra-expanded;
      font-weight: bold;
      font-size: 40px;
    }
  }
  .section7__gallery{
    width: 100%;
    margin: 0;
    padding: 0;    
      .section7__topRow{
        width: 100%;
        margin: 0;
        .section7__link{
          max-width: 700px;
          width: 100%;
          padding: 0;
          margin: 0;
          .section7__img{
            max-width: 700px;
            width: 100%;
            max-height: 460px;
            height: 100%;
            vertical-align: top;
          }
        }
        
      }
      
    .section7__bottomRow{
      width: 100%;
      margin: 0;
      .section7__link{
        max-width: 420px;
        width: 100%;
        padding: 0;
        margin: 0;
        .section7__img{
          max-width: 4200px;
          width: 100%;
          max-height: 340px;
          height: 100%;
          vertical-align: top;
        }
      }
    }
  }
  .section7__bottom{
    width: 100%;
    height: 80px;
    background-color: #303263;
    display: flex;
    justify-content: center;
    align-items: center;
    .section7__btn{
      background-color: #6a6b8e;
      border-color: #6a6b8e;
      .section7__btnText{
        color:#fff;
        font-weight: bold;
      }
    }
    .section7__btn:hover{
      background-color: #fff;
      .section7__btnText{
        color: #6a6b8e;
        font-weight: bold;
      }
    }
  }
  
}

.section8{
  position: relative;
  top: 800px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  display: flex;

  align-items: center;
  .section8__textSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: url(../img/adaptate.png);
    background-repeat: no-repeat;
    background-position-x: center;
    .section8__heading{
      font-size: 35px;
      text-transform: uppercase;
      font-weight: bold;
      font-stretch: extra-expanded;
      margin-top: 5px;
      margin-right: 15px;
    }
    .section8__text {
      max-width: 335px;
      width: 100%;
      margin-top: 40px;
      margin-left: 25px;
      line-height: 1.5;
    }
  }
  .section8__imgSection{
    @media screen and(max-width: 1163px){
      flex-direction: column;
      align-items: flex-end;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    bottom: 100px;
    .section8__iphone{
      max-height: 230px;
      height: 100%;
    }
    .section8__ipad{
      max-width: 250px;
      width: 100%;
      max-height: 350px;
      height: 100%;
    }
    .section8__macbook{
      max-width: 150px;
      width: 100%;
      max-height: 430px;
      height: 100%;
    }
  }
}

.section9{
  position: relative;
  top: 800px;
  background-image: url(../img/trade-in.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  .section9__heading{
    z-index: 2;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .section9__textSection{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .section9__subheadingSection{
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin-bottom: 20px;
      
      .section9__subheading{
        text-transform: uppercase;
        font-weight: bold;
      }
      .section9__icon{
        width: 50px;
        margin-right: 30px;
      }
      
    }
    #section9__icon2{
      margin-top: -10px;
    }
    
  }
  .section9__textItem{
    max-width: 360px;
    width: 100%;
  }
  #section9__textItem2{
    max-width: 330px;
    width: 100%;
  }
  .section9__btn{
    background-color: #f6ae48;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border: none;
    z-index: 2;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section9__btn:hover{
    background-color: #fff;
    color: #f6ae48;
    z-index: 2;
    text-decoration: none;
  }
}
.section9:after {
  content: '';
  position: absolute;
  width: 100%;
  height:100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #473d55, $alpha: .8);
}
.section10{
  position: relative;
  top: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .section10__textSection{
    background-image: url(../img/be-careful.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .section10__textWrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .section10__subheading{
      margin-top: 10px;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;

    }
    .section10__text{
      margin-top: 20px;
      line-height: 1.5;
      max-width: 350px;
      width: 100%;
    }
  }
  .section10__img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 480px;
    width: 100%;
  }
}

.section11{
  margin-right: 0 !important;
  margin-left: 0 !important;
  position: relative;
  top: 1000px;
  height: 600px;
  width: 100%;
  background-image: url(../img/footerbg.png);
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  .section11__textSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .section11__textWrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 330px;
      width: 100%;
      color: #fff;
    }

  }
  .section11__formWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .input::placeholder{
      color: #fff;
    }
    .input{
      padding-left: 20px;
      background: transparent;
      border:  solid 2px #fff;
      margin-left: -3px;
    }
    .firstname{
      color: #fff;
      width: 300px;
      height: 50px;

    }
    .lastname{
      width: 300px;
      height: 50px;
      margin-left: -3px;
    }
    .email{
      width: 202%;
      margin-top: -4px;
      height: 50px;
    }
    .message{
      width: 202%;
      margin-top: -4px;
      height: 200px;
    }
  }
}

.section11:after {
  content: '';
  position: absolute;
  width: 100%;
  height:600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #473d55, $alpha: .8);
}
.footer__underline{
  position: relative;
  top: 1000px;
  height: 70px;
  width: 100%;
  background-color: #f6ae48;
}